h1 {
    font-size: 30px !important;
}

canvas {
    animation-name: canvas_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes canvas_animation {
    from {box-shadow: 1px 1px 200px white;}
    to {box-shadow: 1px 1px 200px black;}
}

body {
    background-image: linear-gradient(to top left, red, yellowgreen);
}